body {
  min-width: 100%;
  margin: 0;
  padding: 0;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #8993ad;
  background-color: #ffffff;
}

a {
  color: #000000;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  padding: 24px 0;
  background-color: #fbfbfb;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Roboto", Arial, sans-serif;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 567px;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 54px;
  list-style: none;
}

.site-navigation li {
  margin-right: 32px;
}

.site-navigation a {
  padding: 5px 0 0;
}

.site-navigation a:hover, .site-navigation a:focus {
  color: #fc557c;
  border-bottom: 1px solid #fc557c;
}

.contacts-phone {
  font-size: 25px;
  font-weight: 700;
  line-height: 54px;
  color: #1f1f24;
}

.contacts-button {
  padding: 15px 40px 10px;
  margin-left: 24px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #f53f4f;
  background-color: transparent;
  border: 1px solid #f53f4f;
  cursor: pointer;
}

.page-banner {
  min-height: 668px;
  background-image: url("../img/banner.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

.banner-container {
  padding-top: 176px;
  padding-bottom: 100px;
}

.page-banner  p {
  margin: 0;
}

.page-banner-title {
  font-size: 80px;
  line-height: 104px;
  font-weight: 700;
  color: #1f1f24;
  letter-spacing: -1.5px;
}

.page-banner-text {
  font-size: 25px;
  line-height: 54px;
}

.page-banner a {
  margin-top: 33px;
}

.button {
  display: inline-block;
  width: 270px;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  vertical-align: top;
  text-align: center;
  color: #ffffff;
  padding: 19px 20px 20px 25px;
  background-color: #ff4e2e;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.skills {
  padding-top: 85px;
  padding-bottom: 104px;
}

.section-title {
  margin: 0;
  padding-left: 25px;
  font-size: 54px;
  line-height: 59px;
  text-align: center;
  color: #262626;
}

.skills-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 95px;
  margin-bottom: 90px;
}

.skills-item {
  width: 255px;
  padding-top: 90px;
  margin-right: 45px;
  background-image: url("../img/layout-icon.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.skills-item:last-child {
  margin-right: 0;
}

.skills-item p {
  margin: 0;
  text-align: center;
}

.skills-item-layout {
  margin-right: 50px;
}

.skills-item-adaptive {
  width: 290px;
  background-image: url("../img/adaptive-icon.png");
  background-position: 57% 0;
}

.skills-item-adaptive p {
  margin-left: 21px;
}

.skills-item-programming p {
  margin-left: 26px;
}

.skills-item-programming {
  background-image: url("../img/programming-icon.png");
}

.skills-item-coding {
  background-image: url("../img/coding-icon.png");
}

.section-button {
  margin-left: 450px;
}

.portfolio {
  padding-top: 87px;
  padding-bottom: 100px;
  background-color: #fbfbfb;
}

.portfolio-title {
  padding-left: 45px;
}

.works-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 105px;
  margin-bottom: 76px;
}

.work h3 {
  margin: 0;
  margin-top: 10px;
  padding-right: 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 59px;
  text-align: center;
}

.promo {
  padding-top: 75px;
  padding-bottom: 82px;
  background-color: #ff4e2e;
  background: -webkit-linear-gradient( 77deg, rgb(255,143,90) 0%, rgb(255,47,150) 99%);
  background: -ms-linear-gradient( 77deg, rgb(255,143,90) 0%, rgb(255,47,150) 99%);
}

.promo-text {
  margin: 0;
  margin-left: 115px;
  margin-bottom: 30px;
  font-size: 45px;
  line-height: 60px;
  font-weight: 700;
  color: #ffffff;
}

.promo-note {
  display: inline-block;
  width: 740px;
  margin-left: 115px;
  font-size: 18px;
  color: #ffffff;
}

.main-footer {
  padding-top: 78px;
  padding-bottom: 65px;
}

.main-footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer-navigation {
  margin: 0;
  margin-right: 157px;
  padding: 0;
  width: 200px;
  list-style: none;
}

.footer-navigation a {
  font-size: 18px;
  color: #8993ad;
}

.footer-navigation a:hover,
.footer-navigation a:focus {
  color: #000000;
}

.footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 25px;
  width: 350px;
  margin-right: 157px;
  padding-left: 35px;
  padding-top: 2px;
  color: #000000;
}

.footer-contacts-phone, .footer-contacts-email {
  padding-left: 42px;
  background-image: url("../img/mail-icon.png");
  background-repeat: no-repeat;
  background-position: 5px 6px;
}

.footer-contacts-phone {
  margin-bottom: 30px;
  background-image: url("../img/phone-icon.png");
}

.footer-contacts-email {
  background-position: 5px 8px;
}

.footer-contacts-button {
  margin-left: 0;
  padding: 11px 60px 12px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  margin-top: 30px;
  padding: 0;
  list-style: none;
}

.social-logo {
  margin-right: 20px;
  fill: #8993ad;
}

.social-logo:hover,
.social-logo:focus {
  fill: #000000;
}

.social-logo-twitter {
  margin-right: 25px;
}

.bottom-footer {
  min-width: 100%;
  padding-top: 24px;
  padding-bottom: 30px;
  background-color: #31293c;
}

.bottom-footer-text {
  font-size: 16px;
  color: #ffffff;
  margin-left: 453px;
}
